@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
login-page {
	.fundo{		
		.logoLogin{
			width: 45%;
			height: 45%;
			display: block;
			position: relative;
			margin: 0 auto;
		}

		.tituloLogin{
			font-family: 'Roboto', sans-serif;
			font-weight: 900;
			font-size: 1.8em;
			color: black;
			text-align: center;
		}
		
		.subtituloDiretoria{
			font-family: 'Roboto', sans-serif;
			font-size: 1em;
			color: grey;
			text-align: center;
		}
	}

	
}
